<!doctype html>
<html lang="en">

<head>
    <title>Workers Make the Difference</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/cleave.js@1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-cleave-component@2"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@423&display=swap"
        rel="stylesheet">
    <link href="./assets/css/styles.css" rel="stylesheet">
</head>


<body>
    <section id="app" class="min-vh-100 dark">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mx-auto text-center p-5">
                    <!-- <i class="fas fa-toggle-on mb-2"></i> -->

                    <!-- <h1 class="text-white mb-5">Workers Make the Difference</h1> -->

                    <img class="logo mb-4" src="./assets/img/WMtD.png">
                    <h4 class="text-white mb-3">How much portable leave are you owed?</h4>


                    <div id="app">

                        <form v-on:submit.prevent="submitForm">

                            <div class="row">
                                <div class="col">

                                    <label class="text-white">Name <span>*</span>&nbsp;</label>
                                    <input type="text" placeholder="John Smith" class="form-control mb-3" name="name"
                                        id="name" v-model="name" />
                                </div>
                                <div class="col">

                                    <label class="text-white">Phone <span>*</span>&nbsp;</label>
                                    <input type="number" placeholder="0452213234" class="form-control mb-3" name="phone"
                                        id="phone" v-model="phone" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-7">

                                    <label class="text-white">Email address <span>*</span>&nbsp;</label>
                                    <input type="email" placeholder="yourname@email.com" class="form-control mb-3"
                                        name="email" id="email" v-model="email" />
                                </div>
                                <div class="col-5">

                                    <label class="text-white">Post Code <span>*</span>&nbsp;</label>
                                    <input type="text" placeholder="2204" class="form-control mb-3" name="postcode"
                                        id="postcode" v-model="postcode" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="text-white">Are you a union member? <span>*</span>&nbsp;</label>
                                    <br>
                                    <div class="toggle">
                                        <input v-model="yesunion" type="radio" name="union" value="Union Member"
                                            id="yesunion" checked />
                                        <label for="yesunion">Yes</label>
                                        <input v-model="nounion" type="radio" name="union" value="Non Union Member"
                                            id="nounion" />
                                        <label for="nounion">No</label>
                                    </div>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <div class="col">
                                    <label class="text-white" for="industry">Industry: </label>
                                    <select v-model="industry" class="form-control">
                                        <option :value="this.selectedTemplate" disabled hidden>Community & disability
                                            services</option>
                                        <option v-for="industry_option in industry_options" :key="industry_option">
                                            {{ industry_option }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="text-white">Are you a shift worker? <span>*</span>&nbsp;</label>
                                    <br>


                                    <div class="toggle2">
                                        <input v-model="yesshift" type="radio" name="shift" value="Shift Worker"
                                            id="yesshift" checked="checked" />
                                        <label for="yesshift">Yes</label>
                                        <input v-model="noshift" type="radio" name="shift" value="Not a Shift Worker"
                                            id="noshift" />
                                        <label for="noshift">No</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="text-white" for="year">Number of years in community /
                                        disability services </label>
                                    <select v-model="year" class="form-control">
                                        <option :value="this.selectedTemplate" disabled hidden>5</option>
                                        <option v-for="year_option in year_options" :key="year_option">
                                            {{ year_option }}
                                        </option>
                                    </select>
                                </div>
                            </div>



                            <button type="submit" id="custom_submit" value="Submit" class="btn btn-danger mt-3"
                                v-html="button_text"></button>


                            <div class="mt-5" id="result"></div>
                            <div id="success"></div>

                        </form>
                        <div v-if="calculated == true">
                            <div class="text-center col-12">
                                <h3 class="text-center text-white mt-3">
                                    Weeks annual of leave: <span class="red">{{annualleave()}} </span></br>
                                    Days of personal leave: <span class="red">{{personalleave()}}</span> </br>
                                    Weeks of long service leave: <span class="red">{{longservice()}} </span></br>
                                </h3>

                            </div>
                        </div>
                    </div>





                </div>
                <div id="footer" class="text-center col-md-12 mb-5">
                    <h5 class="text-center mt-5">* Discliamer here
                    </h5>
                </div>


            </div>

    </section>



    <script src="./assets/js/script.js"></script>




</body>

</html>